@import url("https://unpkg.com/basscss@7.1.1/css/basscss.min.css"); /* stylesheet */

body {
	position: relative;
}

/* .wrapper {
	width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
} */

.column {
	display: flex;
	align-items: center;
}

#status {
	min-width: 400px;
	margin: 0;
	text-align: center;
}

.dice {
	width: 32px;
	float: left;
	background-color: lightgray;
	border: 1px solid black;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
	border-radius: 5px;
}

.unheld{
	border: 10px red;
}

.scorable{
	border: 10px green;
}
.dice-roll {
	color: black;
}

.hold-dice {
	color: black;
}